*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.colour{
    color: rgb(15, 100, 120)
}
.color{
    visibility: hidden;
}

/*Header*/

/*Carrito de compras*/
  

.cart-icon i {
    font-size: 32px; /* Ajusta el tamaño del icono */
    color: white; /* Cambia el color del icono a blanco */
  }
  
  /* Mantén o ajusta el estilo del globo rojo si es necesario */
  .cart-icon {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    display: none;
  }


/*Footer*/

 /*Redes sociales*/
 .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}
.social-icons a:hover {
    background-color: #e9ecef;
}
.social-icons svg {
    width: 20px;
    height: 20px;
    fill: #6c757d;
}

/*Fin Footer*/
